#main {
    padding-top:60px;
}
.nav-left {
    width:258px;
}
.spy-nav.affix {
    top:80px;
}
.nav-left>li>a {
    display: block;
    width: 190px 9;
    margin: 0 0 -1px;
    padding: 8px 14px;
    border: 1px solid #E5E5E5;
    color:#aaa;
}
.nav-left>li.active>a {
    color:#08c;
    font-weight:bold;
}
.nav-left>li>a>.glyphicon {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
}
.nav-left .active>a>.glyphicon {
    opacity: 1.0;
}
